.custom-navbar {
    background-color:#323959  !important; /* Dark blue */
    color: white !important;
  }
  
  .navbar .nav-link {
    color: white !important;
  }
  
  .navbar .nav-link:hover {
    color: #1ABC9C !important; /* Light teal color on hover */
  }
  